## Sorting the new data into spending sectors

In [2]:
import pandas as pd
import numpy as np

In [67]:
transaction_df = pd.read_csv('C:/Users/camer/OneDrive/Documents/Data Science MSc/DSMP/simulated_transaction_2024.csv')
transaction_df

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
0,01/01/2023,00:00,678330503.0,2971.000000,1584.00,NaN,Westport Care Home
1,01/01/2023,00:00,472213568.0,3792.000000,1950.00,NaN,Barbiee Boutique
2,01/01/2023,00:00,472213568.0,3012.000000,-780.00,283027736.0,NaN
3,01/01/2023,00:00,283027736.0,1787.000000,780.00,472213568.0,NaN
4,01/01/2023,00:00,624500124.0,3226.000000,1825.00,NaN,Fat Face
...,...,...,...,...,...,...,...
230591,06/12/2023,20:54,581655972.0,45935.206861,-41.06,NaN,Tesco
230592,06/12/2023,20:55,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local
230593,06/12/2023,21:05,824916823.0,9709.172159,-32.94,NaN,Deliveroo
230594,06/12/2023,21:13,366550080.0,26834.165794,-19.25,NaN,Amazon
230595,06/12/2023,21:32,259015404.0,1145.349837,-37.64,NaN,JustEat

Selecting only rows with Third party names

In [68]:
business_transactions = transaction_df[~transaction_df['Third Party Name'].isnull()]
business_transactions = business_transactions.drop(['Third Party Account No', 'Balance', 'Timestamp', 'Date'], axis=1)
print(f"{business_transactions['Third Party Name'].value_counts()}")
print(f"\n\n Names of third party accounts: \n{business_transactions['Third Party Name'].unique()}")

Third Party Name
Tesco                 34108
Sports Direct         16259
Topshop               10332
Fat Face               9543
PureGym                8293
                      ...
Millets                   1
Gap Kids                  1
Specsavers                1
RugbyFields               1
Mountain Warehouse        1
Name: count, Length: 83, dtype: int64


 Names of third party accounts:
['Westport Care Home' 'Barbiee Boutique' 'Fat Face' 'Lavender Primary'
 'A Cut Above' 'Tesco' 'Brilliant Brushes' 'Costa Coffee'
 'Premier Finance' 'North Face' 'Craftastic' 'Fitted Stitch' 'Selfridges'
 'Starbucks' 'The Crown' 'Cass Art' 'Green Park Academy' 'Rose & Crown'
 'Kings Arms' 'Sunny Care Nursery' 'A Yarn Story' 'Pets Corner'
 'Lavender Fields' 'Victoria Park' 'Halifax' 'LBG' 'Blizzard' 'Xbox'
 'Mojang Studios' 'PureGym' 'Disney' 'Netflix' 'Grand Union BJJ' 'Amazon'
 'SquareOnix' 'Deliveroo' 'JustEat' 'Coop Local' 'Sainsbury' 'AMAZON'
 'The Works' "Blackwell's" 'Topshop' 'Matalan' 'Foyles' 'Wool'
 'Hobby Lobby' 'Revella' 'Sainsbury Local' 'Loosely Fitted'
 'Stitch By Stitch' 'Coffee #1' 'Hobbycraft' 'Lloyds Pharmacy'
 'Gamestation' 'CeX' 'Etsy' 'Five Senses Art' 'Sports Direct' 'Boots'
 'Reebok' 'JD Sports' 'Head' 'Frankie & Bennies' 'Gap Kids'
 'University College Hospital' 'CPA' 'Happy Days Home' 'Pets at Home'
 'Jollyes' 'Collector Cave' 'Vision Express' 'Green Park'
 'Remedy plus care' 'Town High' 'RugbyFields' 'Mamas & Papas' 'Specsavers'
 'Kew House' 'HMV' 'Millets' 'Mothercare' 'Mountain Warehouse']

In [69]:
null_values = business_transactions[business_transactions.isnull().any(axis=1)]
null_values

         Account No   Amount Third Party Name
527             NaN -1143.00          Halifax
949     857754342.0      NaN              LBG
1295            NaN   -18.99          PureGym
1335            NaN   -18.99          PureGym
1563            NaN   -15.99          Netflix
...             ...      ...              ...
227463  460463595.0      NaN            Tesco
227645  587225252.0      NaN  Sainsbury Local
229119          NaN  -225.37          Topshop
229970  497772347.0      NaN          Matalan
230360          NaN  -111.36    Fitted Stitch

[420 rows x 3 columns]

The Null values left in the data can be seen above, this is ontl 420 out of 230000 rows so they can be dropped with minimal effect

In [70]:
business_transactions = business_transactions.dropna()
business_transactions

         Account No   Amount    Third Party Name
0       678330503.0  1584.00  Westport Care Home
1       472213568.0  1950.00    Barbiee Boutique
4       624500124.0  1825.00            Fat Face
5       203466392.0  2841.66    Lavender Primary
6       768271776.0  1950.00         A Cut Above
...             ...      ...                 ...
230591  581655972.0   -41.06               Tesco
230592  786141370.0   -62.35     Sainsbury Local
230593  824916823.0   -32.94           Deliveroo
230594  366550080.0   -19.25              Amazon
230595  259015404.0   -37.64             JustEat

[223097 rows x 3 columns]

Some of the transactions are positive, meaning people are being paid, this analysis focusing on spending so these transactions need to be removed

In [71]:
business_spending = business_transactions[business_transactions['Amount'] <= 0]
business_spending

         Account No  Amount Third Party Name
495     355733816.0 -664.00          Halifax
496     472213568.0 -600.00              LBG
497     624500124.0 -654.00              LBG
498     203466392.0 -672.00          Halifax
499     768271776.0 -632.00              LBG
...             ...     ...              ...
230591  581655972.0  -41.06            Tesco
230592  786141370.0  -62.35  Sainsbury Local
230593  824916823.0  -32.94        Deliveroo
230594  366550080.0  -19.25           Amazon
230595  259015404.0  -37.64          JustEat

[216044 rows x 3 columns]

In [72]:
business_spending['Account No'].unique()

array([3.55733816e+08, 4.72213568e+08, 6.24500124e+08, 2.03466392e+08,
       7.68271776e+08, 5.64744955e+08, 6.75806859e+08, 4.56221621e+08,
       3.50921975e+08, 3.31450202e+08, 4.55831435e+08, 8.32564361e+08,
       1.72084472e+08, 5.50169791e+08, 1.41521177e+08, 4.42070890e+08,
       7.44968736e+08, 8.65748375e+08, 5.22188082e+08, 4.73820682e+08,
       7.86141370e+08, 8.12839908e+08, 5.03575533e+08, 9.79135922e+08,
       1.34461671e+08, 4.30910686e+08, 6.18514666e+08, 3.61201224e+08,
       3.70757362e+08, 6.37433131e+08, 7.54141345e+08, 5.59995067e+08,
       1.19993184e+08, 4.78986718e+08, 2.98000165e+08, 4.16060965e+08,
       6.73025413e+08, 2.41459011e+08, 4.03902116e+08, 6.04288474e+08,
       6.56781737e+08, 8.71866387e+08, 4.25964226e+08, 2.00080192e+08,
       5.19649533e+08, 1.83888402e+08, 6.80773155e+08, 6.41764023e+08,
       2.15426302e+08, 3.86729293e+08, 2.85428103e+08, 9.25037906e+08,
       8.76890798e+08, 8.97714622e+08, 1.20634201e+08, 8.92354433e+08,
       5.74548998e+08, 2.46753533e+08, 7.44398361e+08, 2.21868392e+08,
       4.14805878e+08, 8.74431242e+08, 7.76431321e+08, 3.45582855e+08,
       3.85685918e+08, 6.24563756e+08, 3.08068836e+08, 7.22971557e+08,
       1.83546640e+08, 7.66692943e+08, 6.81955876e+08, 4.62962606e+08,
       1.08931112e+08, 7.05848712e+08, 2.14339619e+08, 5.65175333e+08,
       4.35313070e+08, 4.26466211e+08, 6.88328251e+08, 2.26703987e+08,
       8.53907490e+08, 9.13801979e+08, 9.94214354e+08, 5.98793068e+08,
       4.75277431e+08, 9.71129830e+08, 6.60874296e+08, 1.38351025e+08,
       8.89916166e+08, 8.68377987e+08, 1.70637730e+08, 4.82513594e+08,
       8.24916823e+08, 8.78989510e+08, 4.80198977e+08, 3.54894456e+08,
       1.04832000e+08, 5.51196328e+08, 9.33491926e+08, 4.96674181e+08,
       6.26989363e+08, 8.22135975e+08, 7.79620857e+08, 1.11137699e+08,
       4.55052690e+08, 8.44835978e+08, 9.71010829e+08, 1.84430449e+08,
       8.66941383e+08, 9.75345315e+08, 2.20183538e+08, 7.13910252e+08,
       1.30154096e+08, 7.03478110e+08, 3.66477356e+08, 6.07629901e+08,
       2.40643705e+08, 6.63479159e+08, 4.24397946e+08, 7.24537117e+08,
       2.21356538e+08, 8.86837068e+08, 4.61029994e+08, 1.21858569e+08,
       9.73086490e+08, 8.54895960e+08, 3.08897841e+08, 5.85596026e+08,
       8.46550094e+08, 7.06250160e+08, 8.17294757e+08, 1.62162212e+08,
       3.14980178e+08, 8.43174694e+08, 6.10450243e+08, 1.88263947e+08,
       5.87202562e+08, 4.77216513e+08, 5.96463612e+08, 6.44751433e+08,
       3.48325817e+08, 1.98051483e+08, 6.37649383e+08, 4.86495235e+08,
       6.72913754e+08, 1.73335108e+08, 4.90790931e+08, 1.99016328e+08,
       3.24224854e+08, 1.37913631e+08, 1.94745206e+08, 2.08381936e+08,
       1.22884111e+08, 5.09627909e+08, 7.60753808e+08, 4.80557476e+08,
       5.56992209e+08, 4.97809732e+08, 9.92204045e+08, 6.68692488e+08,
       8.33899961e+08, 1.96289502e+08, 9.87163717e+08, 2.74818272e+08,
       9.77899503e+08, 4.71897866e+08, 8.22250278e+08, 6.55368335e+08,
       5.40159353e+08, 6.33345190e+08, 3.36557504e+08, 5.34908754e+08,
       7.11045550e+08, 4.92058070e+08, 2.45198540e+08, 6.27936697e+08,
       8.96821055e+08, 9.62295212e+08, 6.51372390e+08, 4.22955974e+08,
       1.58414827e+08, 7.09632525e+08, 1.69689461e+08, 9.03468956e+08,
       8.09499628e+08, 6.75231808e+08, 4.66649401e+08, 1.31388684e+08,
       4.49871732e+08, 1.29018172e+08, 7.69319491e+08, 5.14362267e+08,
       8.34581602e+08, 7.85210466e+08, 2.55814263e+08, 5.34583529e+08,
       7.58160963e+08, 4.89964679e+08, 7.76108637e+08, 3.83833857e+08,
       6.30691258e+08, 4.99244466e+08, 1.76922958e+08, 3.31684336e+08,
       9.25659248e+08, 2.91580432e+08, 6.59415300e+08, 6.23156843e+08,
       3.15078351e+08, 9.56717493e+08, 7.42223719e+08, 9.96042490e+08,
       5.85133606e+08, 6.25281433e+08, 5.34097839e+08, 4.02438092e+08,
       4.33917275e+08, 1.65691047e+08, 2.61894284e+08, 2.90751280e+08,
       4.29556122e+08, 7.13641917e+08, 6.42924505e+08, 6.73818591e+08,
       5.16051449e+08, 4.78412511e+08, 3.65608668e+08, 2.97823329e+08,
       9.13127700e+08, 4.03383649e+08, 8.35736339e+08, 2.50895529e+08,
       1.69006407e+08, 6.96333897e+08, 9.84783496e+08, 5.55393405e+08,
       5.20418719e+08, 6.52048867e+08, 4.54129843e+08, 2.66777719e+08,
       3.40295966e+08, 5.31186970e+08, 7.99286313e+08, 5.70269025e+08,
       7.19586818e+08, 2.35663459e+08, 3.03843160e+08, 2.93191074e+08,
       5.34325901e+08, 9.90894155e+08, 4.48279144e+08, 6.67367404e+08,
       2.80200287e+08, 9.64702094e+08, 6.84988568e+08, 7.96709231e+08,
       8.16685391e+08, 1.97865285e+08, 2.64208990e+08, 6.54329190e+08,
       2.56002321e+08, 4.52974357e+08, 8.59603181e+08, 1.43061865e+08,
       7.66812921e+08, 5.72136270e+08, 4.35984758e+08, 2.77562576e+08,
       3.61955473e+08, 9.01432314e+08, 1.24102251e+08, 1.34847904e+08,
       3.73163757e+08, 3.52899149e+08, 5.88565416e+08, 3.22221939e+08,
       5.24425303e+08, 2.86484726e+08, 6.88712152e+08, 7.69311479e+08,
       5.50832673e+08, 9.40569402e+08, 9.54263768e+08, 1.63470640e+08,
       5.92961759e+08, 8.80546403e+08, 5.58875206e+08, 8.73701090e+08,
       6.87135796e+08, 1.42791593e+08, 7.00138124e+08, 2.52760664e+08,
       4.87051121e+08, 2.25210798e+08, 8.59264768e+08, 6.61295096e+08,
       7.99453072e+08, 6.47936800e+08, 1.37822385e+08, 8.22718326e+08,
       4.79366718e+08, 8.86921642e+08, 3.36171116e+08, 1.87111705e+08,
       9.55035930e+08, 9.03663593e+08, 6.83078800e+08, 6.68329719e+08,
       4.74301748e+08, 8.12692024e+08, 6.29078930e+08, 7.37547541e+08,
       8.35829467e+08, 8.85259672e+08, 6.05116158e+08, 9.50234174e+08,
       5.00843551e+08, 1.66019891e+08, 2.15832575e+08, 8.07714284e+08,
       9.19185264e+08, 8.58560423e+08, 1.30522384e+08, 4.24927189e+08,
       2.82102606e+08, 4.05416860e+08, 3.44219145e+08, 8.95331556e+08,
       5.55804115e+08, 7.43630833e+08, 8.51181128e+08, 6.98955014e+08,
       6.04334058e+08, 5.17190750e+08, 7.36310094e+08, 3.38022396e+08,
       1.83186021e+08, 1.52488934e+08, 3.16793091e+08, 2.70374623e+08,
       3.88862238e+08, 2.18795010e+08, 7.80463728e+08, 3.83625050e+08,
       6.91012931e+08, 2.28136274e+08, 8.44206657e+08, 8.58989281e+08,
       3.98429109e+08, 7.50094757e+08, 9.79892433e+08, 6.70427480e+08,
       7.52362502e+08, 6.10645022e+08, 4.61990622e+08, 2.85220959e+08,
       3.55940285e+08, 5.93378953e+08, 3.45514953e+08, 9.98390769e+08,
       9.86774156e+08, 6.79662108e+08, 8.42682241e+08, 6.39420537e+08,
       6.39409800e+08, 1.54246234e+08, 7.36340277e+08, 8.33499132e+08,
       6.39549973e+08, 2.90818242e+08, 5.76188756e+08, 3.08505160e+08,
       3.80228542e+08, 7.13057426e+08, 9.49032480e+08, 8.67679563e+08,
       1.51278285e+08, 4.99410772e+08, 7.30002588e+08, 9.30271460e+08,
       5.58119802e+08, 1.46686559e+08, 6.31111289e+08, 2.96972867e+08,
       5.64214408e+08, 9.48069469e+08, 2.13112754e+08, 9.82949451e+08,
       9.57821152e+08, 8.98104045e+08, 3.49614277e+08, 5.96328017e+08,
       7.41269136e+08, 7.79946617e+08, 9.51817450e+08, 9.15666111e+08,
       3.21372947e+08, 8.28532554e+08, 1.47474476e+08, 2.84905540e+08,
       5.54792076e+08, 4.41274121e+08, 9.30277104e+08, 4.50896297e+08,
       8.87853850e+08, 8.60360312e+08, 9.95615876e+08, 3.66550080e+08,
       8.18552503e+08, 7.58885184e+08, 1.38969884e+08, 5.04055745e+08,
       5.67499591e+08, 4.78651121e+08, 7.22358036e+08, 4.67207141e+08,
       1.01531259e+08, 7.41903302e+08, 5.00043411e+08, 6.47472692e+08,
       1.89335192e+08, 9.99752672e+08, 6.90523499e+08, 2.37493332e+08,
       5.81655972e+08, 5.86315521e+08, 6.18138606e+08, 2.57633312e+08,
       8.43537309e+08, 4.44428189e+08, 5.70575024e+08, 4.72995101e+08,
       6.27917561e+08, 3.76271050e+08, 5.44961962e+08, 6.56317661e+08,
       6.13729471e+08, 4.94789005e+08, 8.19515373e+08, 8.15385232e+08,
       5.21611005e+08, 8.38415080e+08, 5.81618317e+08, 8.93134725e+08,
       1.62370388e+08, 2.87230540e+08, 9.20830317e+08, 6.99997811e+08,
       6.56812046e+08, 5.35804582e+08, 1.33755851e+08, 7.60704118e+08,
       3.57651163e+08, 6.27622066e+08, 3.86277162e+08, 8.73693307e+08,
       4.91392945e+08, 1.80616589e+08, 7.85749304e+08, 5.53734946e+08,
       3.70521542e+08, 5.20447032e+08, 8.55129444e+08, 2.33981231e+08,
       9.86267641e+08, 8.72286364e+08, 7.34161378e+08, 6.91789577e+08,
       1.51968462e+08, 8.34383043e+08, 9.09676212e+08, 2.29205098e+08,
       6.72994751e+08, 8.54513972e+08, 4.79456865e+08, 4.96395938e+08,
       2.04855464e+08, 9.94947671e+08, 5.50644516e+08, 2.56045540e+08,
       3.90747457e+08, 7.03588001e+08, 1.17273481e+08, 9.43829984e+08,
       9.45054126e+08, 9.39972497e+08, 9.87229118e+08, 5.35744551e+08,
       6.57139925e+08, 5.19933553e+08, 7.81554833e+08, 3.58846516e+08,
       4.94156986e+08, 2.45690309e+08, 1.35937041e+08, 7.09608057e+08,
       6.48644594e+08, 3.40321732e+08, 8.21971408e+08, 8.51649498e+08,
       6.78330503e+08, 2.83027736e+08, 2.15404070e+08, 7.79816907e+08,
       5.32525712e+08, 8.36655156e+08, 4.42079728e+08, 4.07574996e+08,
       6.05711527e+08, 7.44211756e+08, 4.74951915e+08, 7.80859359e+08,
       4.94977194e+08, 5.48907062e+08, 6.55730067e+08, 9.32820758e+08,
       5.00051919e+08, 6.91843653e+08, 2.24524792e+08, 6.16924659e+08,
       5.75652395e+08, 7.18058208e+08, 3.99144202e+08, 4.12823730e+08,
       2.24112146e+08, 5.06618547e+08, 7.62859681e+08, 4.03765849e+08,
       3.84497904e+08, 2.48625662e+08, 9.90461108e+08, 7.12474734e+08,
       9.75200042e+08, 4.33837402e+08, 5.69687509e+08, 7.20742759e+08,
       5.87225252e+08, 5.51755686e+08, 8.74506295e+08, 5.32478725e+08,
       9.18772878e+08, 2.29502829e+08, 3.91559884e+08, 7.27417797e+08,
       1.27809299e+08, 7.06361191e+08, 9.89506909e+08, 4.46720287e+08,
       6.84284526e+08, 8.20686957e+08, 1.45387690e+08, 2.72538745e+08,
       3.92790315e+08, 5.20239952e+08, 7.95847804e+08, 4.94156462e+08,
       1.43606916e+08, 5.52980092e+08, 1.97050303e+08, 6.79943657e+08,
       1.68414279e+08, 5.18474507e+08, 3.11467864e+08, 2.02320275e+08,
       8.48118081e+08, 8.56957948e+08, 1.08481285e+08, 2.24215364e+08,
       5.34204159e+08, 5.35273662e+08, 4.54356905e+08, 1.26929801e+08,
       2.80098744e+08, 2.48142083e+08, 7.83650950e+08, 8.50290152e+08,
       8.28750680e+08, 1.91161970e+08, 7.38958551e+08, 5.98586358e+08,
       8.56147482e+08, 2.59015404e+08, 7.24997545e+08, 3.40680761e+08,
       5.19644021e+08, 1.51916463e+08, 8.90567652e+08, 1.65098840e+08,
       6.30468201e+08, 6.57528784e+08, 5.46760202e+08, 3.04455868e+08,
       9.02798190e+08, 8.90830949e+08, 7.57115616e+08, 9.29044080e+08,
       5.96171893e+08, 7.99861885e+08, 8.37876918e+08, 3.10740977e+08,
       2.82046994e+08, 8.95750759e+08, 2.85115279e+08, 8.02697323e+08,
       9.20031185e+08, 3.46874167e+08, 3.37771621e+08, 6.27723633e+08,
       2.48658670e+08, 5.54771381e+08, 6.00185455e+08, 2.87480331e+08,
       9.78951113e+08, 8.99983008e+08, 7.67447966e+08, 2.54018059e+08,
       3.22720763e+08, 9.03953091e+08, 9.16225911e+08, 1.55867488e+08,
       2.61793952e+08, 9.69697937e+08, 4.27909748e+08, 4.92850697e+08,
       7.64450279e+08, 8.91513205e+08, 8.87156614e+08, 1.55317149e+08,
       5.46296727e+08, 1.91992682e+08, 2.35881534e+08, 6.11143859e+08,
       1.21113546e+08, 4.93640090e+08, 4.26474982e+08, 7.15068825e+08,
       9.33745726e+08, 9.52921898e+08, 3.10620484e+08, 6.71824917e+08,
       8.99692478e+08, 2.54853117e+08, 9.24045955e+08, 4.06862520e+08,
       8.24218857e+08, 8.36110591e+08, 8.15993333e+08, 2.80990953e+08,
       6.68175891e+08, 1.89757473e+08, 3.73875019e+08, 6.15144184e+08,
       3.05778936e+08, 5.49414742e+08, 1.13747882e+08, 9.79122276e+08,
       5.78131296e+08, 1.58766229e+08, 4.08057540e+08, 4.92215823e+08,
       2.58201793e+08, 7.93781222e+08, 9.14806976e+08, 4.21475159e+08,
       2.52419513e+08, 1.05375973e+08, 4.13557825e+08, 6.78851253e+08,
       4.96865819e+08, 6.56389634e+08, 5.41639148e+08, 6.51756497e+08,
       1.24125096e+08, 4.44371478e+08, 1.17308635e+08, 9.12584712e+08,
       4.56246119e+08, 2.94474095e+08, 3.58836279e+08, 6.41376155e+08,
       8.49096144e+08, 4.07323346e+08, 2.50957494e+08, 3.24046160e+08,
       8.12012103e+08, 8.23208989e+08, 1.97779140e+08, 7.01070224e+08,
       2.19399150e+08, 8.90196840e+08, 4.45240363e+08, 7.92845450e+08,
       5.70323670e+08, 3.47110339e+08, 3.91688371e+08, 6.62610817e+08,
       2.37684254e+08, 9.36917570e+08, 5.27842638e+08, 7.79236304e+08,
       8.01500539e+08, 9.65038148e+08, 5.83558311e+08, 3.52291960e+08,
       1.43003091e+08, 8.97592348e+08, 6.42015139e+08, 3.95654270e+08,
       4.93571342e+08, 9.10730524e+08, 1.75452235e+08, 4.20109571e+08,
       9.67989787e+08, 2.93609137e+08, 6.21181115e+08, 1.65045150e+08,
       5.12989907e+08, 5.93191200e+08, 1.32400709e+08, 9.05860285e+08,
       5.36924114e+08, 9.48558249e+08, 9.16270283e+08, 7.82058249e+08,
       3.10171581e+08, 3.44522228e+08, 6.79911053e+08, 4.18717120e+08,
       4.29235692e+08, 2.62767079e+08, 6.20227043e+08, 9.93238248e+08,
       2.82837512e+08, 7.82013626e+08, 6.01627384e+08, 9.38992364e+08,
       2.13930646e+08, 7.62896656e+08, 1.45553416e+08, 8.57997794e+08,
       1.49684419e+08, 1.06601471e+08, 4.06772240e+08, 7.09151315e+08,
       4.14454079e+08, 5.08518911e+08, 1.19943495e+08, 7.06301742e+08,
       1.24377686e+08, 4.19550103e+08, 1.90874125e+08, 1.94023154e+08,
       3.92270893e+08, 5.18466565e+08, 6.83319988e+08, 6.35679314e+08,
       6.43610517e+08, 7.62700245e+08, 7.20221651e+08, 7.61272540e+08,
       7.62785862e+08, 3.74994043e+08, 5.25524239e+08, 5.48638376e+08,
       4.09971170e+08, 8.38830098e+08, 6.78726554e+08, 2.79149837e+08,
       1.80719578e+08, 4.69561218e+08, 6.53640811e+08, 6.97140785e+08,
       5.72384506e+08, 7.37537711e+08, 8.99742927e+08, 6.99313649e+08,
       7.97184978e+08, 9.73388795e+08, 6.85959099e+08, 6.21652856e+08,
       2.27104649e+08, 3.10375875e+08, 1.52616936e+08, 5.19935524e+08,
       5.18746136e+08, 4.05945930e+08, 6.03721739e+08, 6.90958123e+08,
       8.91716230e+08, 3.82862215e+08, 1.73317688e+08, 2.98007503e+08,
       2.13096759e+08, 3.80911501e+08, 5.56631012e+08, 7.49378808e+08,
       2.80268430e+08, 8.68014990e+08, 4.25730826e+08, 6.03375739e+08,
       5.83579399e+08, 5.17934629e+08, 6.60561861e+08, 6.96758548e+08,
       3.49107386e+08, 2.14765415e+08, 7.73633520e+08, 9.01037631e+08,
       3.55602925e+08, 4.49387287e+08, 9.98405607e+08, 3.64396689e+08,
       2.35310449e+08, 1.16598243e+08, 5.18378868e+08, 1.98946608e+08,
       4.17850087e+08, 9.61077907e+08, 3.37184232e+08, 2.91128777e+08,
       7.09935470e+08, 2.23207876e+08, 8.68033067e+08, 1.36770968e+08,
       3.48525881e+08, 6.90941877e+08, 2.16285378e+08, 4.09370545e+08,
       7.66941757e+08, 9.85188462e+08, 9.69804197e+08, 1.87541224e+08,
       1.79173981e+08, 9.82286721e+08, 9.43329213e+08, 2.52701364e+08,
       2.42218612e+08, 9.12705941e+08, 9.80500334e+08, 5.11179916e+08,
       4.90868147e+08, 2.63882093e+08, 3.64357875e+08, 5.86041848e+08,
       5.85625048e+08, 1.08563213e+08, 7.21393911e+08, 3.29840194e+08,
       3.95284483e+08, 6.55450953e+08, 9.93039226e+08, 2.64550521e+08,
       6.00585971e+08, 5.48549094e+08, 8.67987292e+08, 5.37487133e+08,
       4.75117511e+08, 5.72333122e+08, 3.17161035e+08, 2.80130290e+08,
       3.48460748e+08, 6.59008214e+08, 8.71200314e+08, 6.31744379e+08,
       6.69503912e+08, 1.46909202e+08, 3.15546581e+08, 6.95607232e+08,
       1.40893085e+08, 5.38003940e+08, 4.21881811e+08, 9.87656636e+08,
       6.99139822e+08, 8.07098817e+08, 6.13427466e+08, 6.25658193e+08,
       6.82194230e+08, 8.26597014e+08, 3.31048953e+08, 3.44843570e+08,
       8.56461967e+08, 7.79376323e+08, 1.28033695e+08, 6.28470485e+08,
       6.98076160e+08, 2.15311171e+08, 9.07987693e+08, 7.37645298e+08,
       4.41142605e+08, 3.99538448e+08, 1.47508204e+08, 2.11493028e+08,
       3.33054026e+08, 1.95895574e+08, 7.26913482e+08, 9.41285623e+08,
       2.17540156e+08, 1.47341222e+08, 4.19084831e+08, 6.70102069e+08,
       2.16286013e+08, 7.86927378e+08, 9.70298834e+08, 6.09939116e+08,
       1.92202372e+08, 6.32065391e+08, 1.43383029e+08, 8.06358207e+08,
       7.86879739e+08, 9.18160369e+08, 5.95800644e+08, 4.69330905e+08,
       8.29914501e+08, 9.60208650e+08, 8.57455726e+08, 8.72874909e+08,
       7.04517789e+08, 7.49371623e+08, 4.01293808e+08, 8.57754342e+08,
       2.99871610e+08, 7.50898750e+08, 4.48004226e+08, 1.08812033e+08,
       2.85873880e+08, 7.09142813e+08, 5.10101371e+08, 9.78410962e+08,
       4.23208402e+08, 9.87390838e+08, 8.04317849e+08, 1.60166876e+08,
       7.71125520e+08, 5.70410059e+08, 3.39791565e+08, 9.93663752e+08,
       9.64913066e+08, 7.03537476e+08, 2.84161641e+08, 8.45648250e+08,
       6.12304466e+08, 8.79091637e+08, 1.28030172e+08, 4.36430134e+08,
       7.11140907e+08, 9.23322792e+08, 7.53525749e+08, 2.52964502e+08,
       6.60789920e+08, 6.53667523e+08, 2.34952520e+08, 4.97772347e+08,
       3.83345285e+08, 3.35698481e+08, 7.75790822e+08, 7.88740658e+08,
       2.96770890e+08, 3.87957305e+08, 9.09669130e+08, 4.60463595e+08,
       5.47010927e+08, 2.12560376e+08, 9.04154012e+08, 4.93855007e+08,
       9.36813994e+08, 4.94404688e+08, 1.16169597e+08, 7.19742742e+08,
       1.38609932e+08, 6.04870380e+08, 6.75398089e+08, 2.99652176e+08,
       3.00095518e+08, 1.98630866e+08, 6.66952234e+08, 1.70233640e+08])

In [79]:
print(f"\n\n Names of third party accounts: \n{business_spending['Third Party Name'].unique()}")

 Names of third party accounts:
['Halifax' 'LBG' 'Blizzard' 'Xbox' 'Mojang Studios' 'PureGym' 'Disney'
 'Netflix' 'Grand Union BJJ' 'Amazon' 'SquareOnix' 'Deliveroo' 'JustEat'
 'Coop Local' 'Selfridges' 'Sainsbury' 'AMAZON' 'The Works' "Blackwell's"
 'Fat Face' 'Topshop' 'Matalan' 'Foyles' 'Tesco' 'Wool' 'Hobby Lobby'
 'Revella' 'Sainsbury Local' 'Starbucks' 'Loosely Fitted'
 'Stitch By Stitch' 'Coffee #1' 'Hobbycraft' 'A Yarn Story' 'Craftastic'
 'Kings Arms' 'Costa Coffee' 'The Crown' 'Lloyds Pharmacy' 'Rose & Crown'
 'Fitted Stitch' 'Gamestation' 'CeX' 'Etsy' 'Five Senses Art'
 'Sports Direct' 'Cass Art' 'Brilliant Brushes' 'Boots' 'Reebok'
 'JD Sports' 'Head' 'Frankie & Bennies' 'Gap Kids' 'North Face'
 'Town High' 'Collector Cave' 'Barbiee Boutique' 'RugbyFields'
 'Mamas & Papas' 'Lavender Primary' 'Remedy plus care' 'Specsavers'
 'Kew House' 'HMV' 'Vision Express' 'Millets' 'Pets Corner' 'Mothercare'
 'A Cut Above' 'Happy Days Home' 'Mountain Warehouse' 'Victoria Park'
 'University College Hospital']

Listing cateogries to split the third party accounts into

In [ ]:
categories = {
    'Financial Services': ['Halifax', 'LBG'],
    'Gaming': ['Blizzard', 'Xbox', 'Mojang Studios', 'Gamestation'],
    'Streaming Services': ['Netflix', 'Disney'],
    'Misc/General Retail': ['Etsy', 'Amazon', 'AMAZON', 'Selfridges', 'The Works', 'CeX', 'HMV'],
    'Sport/Fitness': ['Sports Direct', 'PureGym', 'Grand Union BJJ', 'Reebok', 'JD Sports', 'Head', 'Mountain Warehouse', 'Millets'],
    'Food Delivery': ['Deliveroo', 'JustEat'],
    'Supermarket': ['Coop Local', 'Tesco', 'Sainsbury', 'Sainsbury Local'],
    'Hospitality': ['Kings Arms', 'The Crown', 'Rose & Crown', 'Frankie & Bennies'],
    'Art/Hobby Supplies': ['Collector Cave', 'Craftastic', 'Cass Art', 'Hobbycraft', 'Wool', 'A Yarn Story', 'Hobby Lobby', 'Five Senses Art', 'Brilliant Brushes'],
    'Pet Supplies': ['Pets Corner'],
    'Bookshop': ["Blackwell's", 'Foyles'],
    'Children': ['Lavender Primary', 'Gap Kids', 'Mamas & Papas', 'Mothercare', 'Kew House']
    'Fashion': ['Fat Face', 'Topshop', 'Matalan', 'Revella', 'Fitted Stitch', 'Loosely Fitted', 'Stitch By Stitch', 'North Face', 'Barbiee Boutique'],
    'Coffee': ['Costa Coffee', 'Starbucks', 'Coffee #1'],
    'Healthcare': ['University College Hospital','Specsavers' ,'Vision Express' , 'Lloyds Pharmacy', 'Boots', 'Remedy plus care', 'Happy Days Home'],
}

Some of the tird party names do not fit into any categories/ it is not obvious what they represent, 
'Town High'
'Victoria Park'
'A Cut Above'
these all have 2 or less transactions so they can just be removed

In [110]:
values_to_drop = ['Town High', 'Victoria Park', 'A Cut Above']
business_spending = business_spending[~business_spending['Third Party Name'].isin(values_to_drop)]

In [113]:
businesses = business_spending['Third Party Name'].value_counts()
businesses.head(60)

Third Party Name
Tesco                33871
Sports Direct        16237
Topshop              10311
Fat Face              9303
PureGym               8278
Matalan               7837
Netflix               7767
Amazon                7563
JustEat               7145
Deliveroo             6961
The Works             6692
Five Senses Art       5948
Revella               5352
Starbucks             4817
Blizzard              4432
SquareOnix            4375
Xbox                  4365
Mojang Studios        4364
Disney                3948
Blackwell's           3844
Loosely Fitted        3711
Grand Union BJJ       3653
Sainsbury Local       3154
Sainsbury             3117
Halifax               3048
Selfridges            3041
LBG                   2958
Fitted Stitch         2921
Gamestation           2821
Coop Local            2605
Coffee #1             2295
Boots                 2045
AMAZON                2024
Wool                  1995
Lloyds Pharmacy       1995
Etsy                  1971
Reebok                1919
Hobby Lobby           1667
Brilliant Brushes     1616
The Crown              751
Costa Coffee           676
JD Sports              559
CeX                    514
Stitch By Stitch       453
Craftastic             329
A Yarn Story           280
Cass Art               261
Kings Arms              89
Hobbycraft              80
Rose & Crown            26
Foyles                  26
Collector Cave           3
Kew House                3
Mamas & Papas            3
Lavender Primary         3
North Face               2
Frankie & Bennies        2
Barbiee Boutique         1
RugbyFields              1
Gap Kids                 1
Name: count, dtype: int64